@{
    ViewData["Title"] = "Login/Registration";
}
<link rel="stylesheet" href="~/css/Login.css" />

<div class="header">
    <h1 class="display-4 text-center pb-5">Welcome to the Activity Center!</h1>
</div>

<div class="text-center">

    <partial name="RegisterPartial"/>
    <partial name="LoginPartial"/>
    
</div>